<div class="container">
  <img src="../../../assets/devil.svg" />
  <div>
    <h2>Privacy Policy</h2>
    <p>
      This Privacy Policy outlines how we, PartuHub, collect, use, and protect
      the personal information you provide when using our ticket selling
      application.
    </p>
    <h3>Information Collected</h3>
    <p>
      To provide our services, we may collect the following types of personal
      information: <br />Identification information, such as name, email
      address, and date of birth.<br />Payment information, such as credit/debit
      card number and expiration date.<br />Purchase information, including
      details of purchased tickets and transaction history.
    </p>
    <h3>Use of Information</h3>
    <p>
      The personal information collected will primarily be used for:<br />Processing
      and delivering purchased tickets.<br />Managing your account and providing
      customer support.<br />Communicating with you regarding our services,
      including special offers and promotions.
    </p>
    <h3>Protection of Information</h3>
    <p>
      We are committed to protecting the personal information we collect. We use
      appropriate security measures to protect against unauthorized access,
      disclosure, or alteration of personal information.
    </p>
    <h3>Sharing of Information</h3>
    <p>
      The personal information collected will not be sold, exchanged, or shared
      with third parties except where necessary to provide the services
      requested by you, such as payment processing.
    </p>
    <h3>Access and Update of Information</h3>
    <p>
      You have the right to access, correct, update, or delete the personal
      information we have collected about you. You can do this through your
      account or by contacting us directly.
    </p>
    <h3>Changes to the Privacy Policy</h3>
    <p>
      We reserve the right to modify this Privacy Policy at any time. Any
      changes will take effect immediately upon their publication in the
      application. If you have any questions or concerns regarding this Privacy
      Policy, please contact us.
    </p>
  </div>
</div>
